.carousel-item {
  height: 100vh;
  /* min-height: 350px; */
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-inner {
  height:auto;
 }
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
  min-height:initial;
}

.align_center {
  margin: 10px;
  display: inline-block;
  text-align: center;
}

.btn-youtube {
  background-color: red;
  color: wheat;
}

.btn-youtube:hover {
  background-color: wheat;
  color: red;
}

main {
  padding: 370px 18px 10px;
}

article {
  display: flex;
}

.thumb {
  height: 70px;
}

